extends _bootstrap
append styles
    // Custom styles for this template
    link(href='/css/sticky-footer-navbar.css', rel='stylesheet')

block body
    #wrap
        .container
            +navbar("TODO List", "dropdown_menu", "inverse")
                +nav_item('/') Index
                +nav_item('/login') Login
                +nav_item('/logout') Logout
            h1
            block page
            block header
            .content
                block content
    footer.footer
        .container
            p.text-muted
                    |Copyrigth &copy; 2016 | All issues submit to &nbsp;
                    a(href=" https://github.com/Cannabiscat") GitHub
                    |.